<?xml version="1.0" encoding="utf-8"?>
<manifest package="eu.antoniolopez.playground.feature.goodbyeworld"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
                android:name=".view.GoodbyeWorldActivity"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                        android:host="goodbye"
                        android:scheme="@string/scheme"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
