<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.antoniolopez.playground">

    <application
        android:allowBackup="false"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="eu.antoniolopez.playground.core.view.testing.SingleFragmentActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
